# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
TRELLO_API_KEY=b4d785b62d3d959eaa53683db66cc449
TRELLO_API_TOKEN=c9a9f0c3fe6cab86aeba80f8c75de6d6c839578f294e51a52cba87684c066f5d
TRELLO_BOARD_ID=AbpSrXDQ